<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Entain Sudoku</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Entain Sudoku</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="sudoku-board">
      @for(item of sugoku.grid(); track item.key; let index = $index){
      <input
        type="text"
        maxlength="1"
        appDigitOnly
        value="{{item.num || ''}}"
        class="number-cell col{{item.col}} row{{item.row}}"
        (input)="updateBoard($event, index)"
        [disabled]="item.disabled"
      />
      }
    </div>
  </div>
</ion-content>
