<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Entain Sudoku</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Entain Sudoku</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="sudoku-board">
      @for(item of sugoku.grid(); track item.key; let index = $index){
      <input
        type="text"
        maxlength="1"
        appDigitOnly
        value="{{item.num || ''}}"
        class="number-cell col{{item.col}} row{{item.row}}"
        (input)="updateBoard($event, index)"
        [disabled]="item.disabled"
      />
      }
    </div>

    <div>
      <ion-button (click)="sugoku.getBoard('easy')" size="small"
        >Easy</ion-button
      >
      <ion-button (click)="sugoku.getBoard('medium')" size="small"
        >Medium</ion-button
      >
      <ion-button (click)="sugoku.getBoard('hard')" size="small"
        >Hard</ion-button
      >
      <ion-button (click)="sugoku.getBoard('random')" size="small"
        >Random</ion-button
      >
    </div>
    <div>
      <ion-button (click)="sugoku.solveBoard()" size="small">Solve</ion-button>
      <ion-button (click)="sugoku.validateBoard()" size="small"
        >Validate</ion-button
      >
      <ion-chip>Status: {{sugoku.boardStatus()}}</ion-chip>
    </div>
  </div>
</ion-content>
